/****************************************
* RESET
****************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************
* STYLES
****************************************/
body {
  background: #FFF url(../images/background2.jpg) repeat-x top center;
  font: 18px/1.5em Helvetica, sans-serif;
  color: #949494;
}
#container {
  width: 960px;
  margin: 0 auto;
}
#header {
  height: 310px;
  width: 100%;
  text-align: center;
}
h1 {
  width: 445px;
  height: 273px;
  background: transparent url(../images/logo2.png) no-repeat top center;
  margin: 10px auto;
  text-indent: -9000px;
}
h2 {
  font-family: 'Oswald', arial, serif;
  text-transform: uppercase;
  color: #000;
  font-size: 45px;
  margin: 20px 0 30px 0;
  line-height: 42px;
  letter-spacing: -3px;
}
#helmet {
  float: left;
  margin: -85px 0 0 -50px;
}
#right-column {
  float: left;
  width: 420px;
}
#footer {
  clear: both;
  font-size: 12px;
  text-align: right;
  border-top: 1px solid #949494;
  padding: 0 0 20px;
  margin-top: 20px;
}
#subForm {
  position: relative;
  margin: 30px 0;
}
input {
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #b41e28;
  padding: 14px 10px;
  color: #7e7e7e;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 360px;
  height: 30px;
}
#qjhtut-qjhtut {
  background: transparent url(../images/emailform_shadow.png) no-repeat -1px -1px;
}
input, textarea {
  outline: none;
}
#newsletter-submit {
  width: 110px;
  height: 60px;
  background: transparent url(../images/button-submit.png) no-repeat top left;
  text-indent: -9000px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
#newsletter-submit:hover {
  background-position: -115px 0;
}